@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
}
p {
  font-family: "Newsreader", serif !important;
  font-weight: 400;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid black;
}
.ham{
  display: none;
}

nav .nav-links a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  margin: 15px;
  color: #333;
  font-weight: 200;
  font-size: 24px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin: 100px 0 10px 0;
}
.header h1 {
  font-size: 120px;
}
.image {
  margin: 20px;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 56px;
}


@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
    .ham {
        display: block;
    }
    .nav-items a {
        color: white !important;
    }
}
@media (max-width: 1239px) {
    .header h1 {
      font-size: 80px;
    }
  }


@media (max-width: 889px) {
    .header h1 {
      font-size: 50px;
    }
  }