@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
}
p {
  font-family: "Newsreader", serif !important;
  font-weight: 400;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid black;
}
.ham{
  display: none;
}

nav .nav-links a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  margin: 15px;
  color: #333;
  font-weight: 200;
  font-size: 24px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin: 100px 0 10px 0;
}
.header h1 {
  font-size: 120px;
}
.image {
  margin: 20px;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 56px;
}



.frames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 50px;
  }
  .frames img {
    width: 400px;
    height: auto;
    padding: 10px;
  }
  
  .frames p {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 17px;
  }
  
  .frames p:nth-child(3) {
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 13px;
  }

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
    .ham {
        display: block;
    }
}
@media (max-width: 1239px) {
    .header h1 {
      font-size: 80px;
    }
    .image9 {
        display: none;
      }
  }


  @media (max-width: 440px) {
    .frames {
      width: 85%;
    }
    .images {
      width: 85%;
    }
    .frames img {
      width: 100%;
      height: auto;
    }
  }
  

@media (max-width: 889px) {
    .header h1 {
      font-size: 50px;
    }
  }